{% extends "admin/layouts.njk" %}

{% block content %}
    <main class="admin-main">

        <div class="header chefs">

        <h1>Gerenciar chefs</h1>

        
        <button id="/admin/chefs/create" class="purple-background" onclick="redirectButtonToIdLocation(this)">Novo</button>
                


        </div>


        <section class="listing-chefs">

            {% for chef in chefs %}
            <div class="chef-card listing">
                <img class="chef-img" id="{{chef.id}}" src="{{chef.file_path}}" alt="{{chef.name}}">
                <div>
                <p class="chef-name">{{chef.name}}</p>
                <a href="/admin/chefs/{{chef.id}}" class="purple-button">Visualizar</a>
                </div>
            </div>
            {% endfor %}
            
        </section>
        
    </main>

    

{% endblock %}
