{% extends "site/users/layouts.njk" %}


{% block main %}
        <h2>Esqueceu a Senha?</h2>

        <form id="forgot-password-form" action="/forgot-password" method="post">
            <div class="input-area">
                <h3>Email</h3>
                <input type="email" name="email" placeholder="Digite seu email para recuperar sua senha">
            </div>

        </form>

        <div class="footer forgot-password">
            
            <button class="purple-button" form="forgot-password-form">Recuperar</button>
        </div>

    

{% endblock main %}
