{% extends "site/users/layouts.njk" %}


{% block main %}
        <h2>Iniciar Sessão</h2>

        <form id="login-form" action="/login" method="POST">
            <div class="input-area">
                <h3>Email</h3>
                <input type="email" name="email" placeholder="Digite seu email" value="{{user.email}}">
            </div>

            <div class="input-area">
                <h3>Senha</h3>
                <input type="password" name="password" placeholder="Digite sua senha">
            </div>
        </form>

        <div class="footer">
            <a href="/forgot-password">Perdeu a senha?</a>
            <button type="submit" class="purple-background" form="login-form">Acessar</button>
        </div>

    

{% endblock main %}
