{% extends "site/users/layouts.njk" %}


{% block main %}
        <h2>Nova Senha</h2>

        <form id="reset-password-form" action="/reset-password" method="post">
            <div class="input-area">
                <h3>Email</h3>
                <input type="email" name="email" placeholder="Digite seu email">
            </div>

            <div class="input-area">
                <h3>Nova senha</h3>
                <input type="password" name="password" placeholder="Digite sua nova senha">
            </div>

            <div class="input-area">
                <h3>Repetir senha</h3>
                <input type="password" name="passwordRepeat" placeholder="Repita a nova senha">
            </div>
        </form>

        <div class="footer forgot-password">
            
            <button class="purple-background" type="submit" form="reset-password-form">Nova Senha</button>
        </div>

    

{% endblock main %}
